apiVersion: v1
kind: ConfigMap
metadata:
  name: environment-config
data:
  wmioIntegrationUrl: "webMethods.io Integration URL"
  databaseServerName: "Database name"
  databaseServerPort: "Database server port"
  databaseName: "Database name"