<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <record name="default" javaclass="com.wm.data.ISMemDataImpl">
      <value name="alias">default</value>
      <jboolean name="isEnabled">true</jboolean>
      <value name="username">intadmin</value>
      <value name="pswdHandle">wm.is.admin.ilive.intadmin.default</value>
      <value name="iLiveURL">https://presalesemeadev.int-aws-de.webmethods.io</value>
      <value name="umURL">nhps://presalesemeadev-18789ec305856.um.int-aws-de.webmethods.io:443//presalesemeadev/</value>
      <jboolean name="authenticate">true</jboolean>
      <array name="stages" type="record" depth="1">
        <record javaclass="com.wm.data.ISMemDataImpl">
          <value name="stageName">stage00</value>
          <value name="stageDisplayName">Development</value>
          <value name="umURL">nhps://presalesemeadev-18789ec305856.um.int-aws-de.webmethods.io:443//presalesemeadev/</value>
        </record>
      </array>
      <record name="queueNames" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName">244525872_from_on_premise</value>
        <value name="toOnPremiseQueueName">244525872_to_on_premise</value>
        <value name="fromOnPremiseAdminQueueName">244525872_from_on_premise_admin</value>
        <value name="toOnPremiseAdminQueueName">244525872_to_on_premise_admin</value>
      </record>
      <record name="queues" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName">244525872_from_on_premise</value>
        <value name="toOnPremiseQueueName">244525872_to_on_premise</value>
        <value name="fromOnPremiseAdminQueueName">244525872_from_on_premise_admin</value>
        <value name="toOnPremiseAdminQueueName">244525872_to_on_premise_admin</value>
      </record>
      <value name="tenantId">244525872</value>
      <jboolean name="isEdgeServer">false</jboolean>
      <null name="agentID"/>
      <null name="agentName"/>
      <null name="agentGroup"/>
      <null name="accessTokenHandle"/>
      <null name="refreshTokenHandle"/>
    </record>
    <record name="presalesemea_prod" javaclass="com.wm.data.ISMemDataImpl">
      <value name="alias">presalesemea_prod</value>
      <jboolean name="isEnabled">true</jboolean>
      <value name="username">intadmin</value>
      <value name="pswdHandle">wm.is.admin.ilive.intadmin.presalesemea_prod</value>
      <value name="iLiveURL">https://presalesemeaprod.int-aws-de.webmethods.io/</value>
      <value name="umURL">nhps://presalesemeaprod-18789ec36d2104.um.int-aws-de.webmethods.io:443//presalesemeaprod/</value>
      <jboolean name="authenticate">true</jboolean>
      <array name="stages" type="record" depth="1">
        <record javaclass="com.wm.data.ISMemDataImpl">
          <value name="stageName">stage00</value>
          <value name="stageDisplayName">Development</value>
          <value name="umURL">nhps://presalesemeaprod-18789ec36d2104.um.int-aws-de.webmethods.io:443//presalesemeaprod/</value>
        </record>
      </array>
      <record name="queueNames" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName">275654138_from_on_premise</value>
        <value name="toOnPremiseQueueName">275654138_to_on_premise</value>
        <value name="fromOnPremiseAdminQueueName">275654138_from_on_premise_admin</value>
        <value name="toOnPremiseAdminQueueName">275654138_to_on_premise_admin</value>
      </record>
      <record name="queues" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName">275654138_from_on_premise</value>
        <value name="toOnPremiseQueueName">275654138_to_on_premise</value>
        <value name="fromOnPremiseAdminQueueName">275654138_from_on_premise_admin</value>
        <value name="toOnPremiseAdminQueueName">275654138_to_on_premise_admin</value>
      </record>
      <value name="tenantId">275654138</value>
      <jboolean name="isEdgeServer">false</jboolean>
      <null name="agentID"/>
      <null name="agentName"/>
      <null name="agentGroup"/>
      <null name="accessTokenHandle"/>
      <null name="refreshTokenHandle"/>
    </record>
  </record>
</IDataXMLCoder>
